* 
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html 
{
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif, serif;
}

header 
{
    background-color: #1F2937;
    padding-block: 22px;
    display: flex;
    justify-content: space-around;
}

header ul
{
    list-style: none;
    display: flex;
    gap: 28px;
}

header a 
{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

header a:hover,
header a:focus-visible
{
    color: #ffff00;
}

.hero-section
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-block: 102px;
}

h1
{
    max-inline-size: 350px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    line-height: 1.2;
}

.hero-section p
{
    max-inline-size: 400px;
    color: #F9FAF8;
}

button 
{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    cursor: pointer;
    border-radius: 4px;
    padding-block: 4px;
    padding-inline: 18px;

}

.hero-section button
{
    border: #3882F6;
    margin-block: 6px;
}

.info-section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 46px;
    padding-block-end: 80px;
}

.info-section .info-div 
{
    max-inline-size: 700px;
    display: flex;
    gap: 32px;

}

.info-section h2
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-block-end: 32px;
}

.quote-section 
{
    background-color: #E5E7EB;
    padding-block: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote 
{
    max-inline-size: 800px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author 
{
    font-size: 18px;
    font-weight: 900;
    padding-inline-start: 550px;
}

.call-to-action
{
    background-color: #3882F6;
    display:flex;
    justify-content: space-around;
}

.call-to-action h2
{
    font-size: 20px;
    color: #F9FAF8;
}

.call-to-action p
{
    color: #F9FAF8;
}

footer
{
    background-color: #1F2937;
    color: #F9FAF8;
}