* 
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html 
{
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif, serif;
}

header 
{
    background-color: #1F2937;
    padding-block: 22px;
    display: flex;
    justify-content: space-around;
}

header ul
{
    list-style: none;
    display: flex;
    gap: 28px;
}

header a 
{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

header a:hover,
header a:focus-visible
{
    color: #ffff00;
}

.hero-section
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

h1
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-section p
{
    color: #F9FAF8;
}

button 
{
    background-color: #3882F6;
    color: #F9FAF8;
}

